@font-face {
  font-family: "FORCED SQUARE";
  src: url("../static/fonts/FORCED SQUARE.ttf");
}

#home {
  padding-top: 3rem;
}

.trnr-article {
  img.logo {
    border-radius: 0;
    width: 100%;
  }

  .title {
    font-family: "FORCED SQUARE";
    text-transform: uppercase;
    font-size: 2.45rem;
    line-height: 2.5rem;
    margin-top: 0.7rem;
    margin-bottom: 0;
  }

  .subtitle {
    font-family: "FORCED SQUARE";
    text-transform: uppercase;
    font-size: 1.53rem;
    line-height: 1.5rem;
    margin: 0;
  }
}

#device-list {
  ul li em {
    white-space: initial;
  }
}

#trnr-main {
  margin-top: 4rem;

  section {
    margin-bottom: 4rem;
  }

  hr {
    margin-bottom: 1rem;
  }
}

trnr-card article {
  h3 {
    margin-block-start: 0 !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (max-width: 550px) {
    .stream-buy-btn span {
      display: none;
    }
    .stream-buy-btn .mobile-label {
      display: inline;
    }
    .stream-buy-btn .stream-icon {
      display: none;
    }
    .stream-buy-btn .dropdown-icon {
      margin: -8px;
    }
    h3 {
      -webkit-line-clamp: 2;
      line-clamp: 2;
    }
  }
  @media (min-width: 551px) {
    .stream-buy-btn .mobile-label {
      display: none;
    }
    h3 {
      -webkit-line-clamp: 3;
      line-clamp: 3;
    }
  }
}

trnr-card-vert {
  a {
    display: block;
  }

  article.medium {
    block-size: 18rem;
  }

  img.responsive.medium {
    block-size: 9rem;
  }

  article.large {
    block-size: 26rem;
  }

  img.responsive.large {
    block-size: 18rem;
  }
}

trnr-header {
  header.fixed {
    position: fixed;
  }
}

.center-col {
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontal centering */
  justify-content: center; /* vertical alignment if height is set */
  width: 100%;
}

trnr-carousel {
  display: block;
  margin: 1rem auto;
}

trnr-audio-player {
  z-index: 100;
  min-block-size: 64px;

  @media (max-width: 550px) {
    #waveform {
      display: none;
    }

    .slider.medium {
      --_track: 1.5rem;
    }

    p.audio-title {
      display: contents;
    }

    .slider {
      width: 6rem;
    }

    #play-icon-container {
      margin: -0.5rem;
    }
  }
  @media (min-width: 551px) {
  }
}
